<a href="https://colab.research.google.com/github/Serge-In/RSSML1/blob/main/RSS_ML_Task1_Soccer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import sqlite3
import pandas as pd
import os

pd.set_option('display.max_column', None)

In [22]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'database.sqlite')
#db = sqlite3.connect('database.sqlite')
#db = sqlite3.connect("/content/database.sqlite")

print(type(db))

<class 'sqlite3.Connection'>

In [24]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)

#cur = db.cursor()
#cur.execute("SELECT * FROM Player;")

In [25]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [41]:
player_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  11060 non-null  int64
 1   player_api_id       11060 non-null  int64
 2   player_name         11060 non-null  object
 3   player_fifa_api_id  11060 non-null  int64
 4   birthday            11060 non-null  object
 5   height              11060 non-null  float64
 6   weight              11060 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 605.0+ KB

In [38]:
#Task 1 (0.25 point). Calculate the number of players with a height between 180 and 190 inclusive
players_180_190 = pd.read_sql("SELECT height FROM Player WHERE height BETWEEN 180 AND 190;", db)
players_180_190.head()
players_180_190.count()
print(players_180_190.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9535 entries, 0 to 9534
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  9535 non-null   float64
dtypes: float64(1)
memory usage: 74.6 KB
None

In [46]:
#Task 1 (0.25 point). Calculate the number of players with a height between 180 and 190 inclusive
players_180_190 = pd.read_sql("SELECT height FROM Player WHERE height >= 180 AND height <= 190;", db)
players_180_190.head(5)
players_180_190.count()
print(players_180_190.info())
print(len(players_180_190))
players_180_190 = len(players_180_190)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5925 entries, 0 to 5924
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  5925 non-null   float64
dtypes: float64(1)
memory usage: 46.4 KB
None
5925

In [47]:
assert(isinstance(players_180_190, int))